// layout/_l-header.scss

@use '../global/' as g;

.l-header {
	$this: &;

	position: relative;
	height: 168px;

	@include g.mq(md) {
		height: auto;
		padding-block: 5px;
	}

	& * {
		font-family: g.$font-montserrat;
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 350px;
		height: 50px;
		margin-inline: auto;

		@include g.mq(md) {
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			width: 200px;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding-inline: g.$base-spacing;

		@include g.mq(md) {
			height: auto;
		}
	}

	&__navi {
		@include g.mq(md) {
			display: none;
		}

		& > ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 4px;
			column-gap: 30px;

			& > li > a {
				display: block;
				font-weight: 700;
				font-size: g.$font-size-sm;
				// font-size: 13px;
				color: g.$color-main;
				letter-spacing: 0.1em;
			}
		}
	}

	&__trigger {
		position: fixed;
		top: 50px;
		right: 50px;
		@include g.z-index(trigger);
		// z-index: 100;

	}
}
