// project/_p-page-region.scss

@use '../global/' as g;

.p-page-region {
	$this: &;

	padding-bottom: 0;

	&__index {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		@include g.clamp(padding-bottom, 120, 80);
	}

	&__map {
		position: relative;
		aspect-ratio: 590 / 478;
		width: 100%;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		padding-left: 4vi;

		& > li {

			& > a {
				position: relative;
				display: flex;
				align-items: center;
				gap: 4px;
				padding-bottom: 20px;
				border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
				font-family: g.$font-noto-sans;
				letter-spacing: 0.15em;

				& > i {
					width: 20px;
					background-color: g.$color-text;
				}
			}
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 60px;
		padding-right: g.$base-spacing;
		@include g.clamp(padding-bottom, 120, 80);
		padding-left: g.$base-spacing;
		background-color: g.$color-main;
	}

	&__mv {
		position: relative;
		aspect-ratio: 16 / 9;
		width: 100%;
	}
}
