// project/_p-page-region.scss

@use '../global/' as g;

.p-page-region {
	$this: &;

	padding-bottom: 0;

	&__index {
		// display: grid;
		// place-content: center;
		// grid-template-columns: repeat(2, 1fr);
		// align-items: center;
		width: 100%;
		min-height: 500px;
		@include g.clamp(padding-bottom, 120, 80);
	}

	&__map {
		position: absolute;
		right: 0;
		aspect-ratio: 590 / 478;
		width: 30vi;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@include g.clamp(gap, 48, 32);
		@include g.clamp(padding-top, 48, 32);

		& > li {

			& > a {
				position: relative;
				display: flex;
				align-items: center;
				gap: 4px;
				padding-bottom: 20px;
				border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
				font-family: g.$font-noto-sans;
				letter-spacing: 0.15em;

				& > i {
					width: 20px;
					background-color: g.$color-text;
				}
			}
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		@include g.clamp(gap, 120, 80);
		padding-right: g.$base-spacing;
		@include g.clamp(padding-bottom, 120, 80);
		padding-left: g.$base-spacing;
		// background-color: g.$color-main;
	}

	&-slider {
		&__slide {
			position: relative;
			aspect-ratio: 16 / 9;
			width: 100%;
		}

		&__navi {
			@include g.clamp(margin-top, 24, 16);
		}

		&__navi-items {
			display: flex;
			gap: 10px;
		}

		&__navi-item {
			position: relative;
			aspect-ratio: 1 / 1;
			width: 70px;
			border: none;
		}
	}

	&__mv {
		position: relative;
		aspect-ratio: 16 / 9;
		width: 100%;
	}
}
