// project/_p-page-news.scss

@use '../global' as g;

.p-page-news {

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		// @include g.clamp(margin-top, 80, 60);
		@include g.mq(md) {
			grid-template-columns: 1fr;
		}
	}
}
