// project/_p-page-navigators.scss

@use '../global/' as g;

.p-page-navigators {
	$this: &;

	&__header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include g.mq(md) {
			grid-template-columns: 1fr;
			gap: 24px;
		}
	}

	&__description {
		@include g.font-clamp('md', 'sm');
		font-weight: 500;
		text-align: right;
		line-height: 3;

		@include g.mq(md) {
			text-align: left;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		justify-content: center;
		gap: min(60px, 4vi);
		@include g.clamp(margin-top, 80, 60);
		padding-inline: 4vi;
	}

		// &__items {
	// 	--max-inline-size: 1024px;
	// 	--column-min-size: 16.5rem;
	// 	--gap: max(16px, 2.5%);

	// 	display: grid;
	// 	grid-template-columns: repeat(auto-fill, minmax(min(var(--column-min-size), 100%), 1fr));
	// 	gap: var(--gap);
	// 	max-inline-size: var(--max-inline-size);
	// 	margin-inline: auto;
	// 	@include g.clamp(margin-top, 40, 20);
  // }
}
