// project/_p-page-tours.scss

@use '../global' as g;

.p-page-tours {

	padding-top: 0;

	&__filter {
		& > * {
			font-family: g.$font-noto-sans;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		@include g.clamp(margin-top, 80, 60);
	}
}
