// project/_p-single-navigator.scss

@use "../global/" as g;

.p-single-navigator {
  $this: &;

	&__header {
		@include g.mq(md) {
			max-height: unset;
      aspect-ratio: unset;
			overflow: hidden;

			&::after {
				display: none;
			}
    }
	}

  &__profile {
    position: relative;
    height: 100%;
  }

	&__inner {
		position: relative;
		height: 100%;

		@include g.mq(md) {

      &::after {
				content: "";
				position: absolute;
				bottom: 0;
				width: 120vi;
				height: 50%;
				margin-inline: -50px;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
			}
    }
	}

  &__mv {
    position: relative;
    aspect-ratio: 1 / 1;
    height: 100%;
    margin-left: 30px;

    @include g.mq(md) {
      margin-inline: auto;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
    }
  }

  &__copy {
    position: absolute;
    z-index: 1;
    @include g.clamp(bottom, 80, 20);
    left: 0;
    max-width: 10em;
    @include g.font-clamp("5xl", "2xl");
    font-weight: 400;
    color: #ffffff;
    line-height: 1.2;
    text-shadow: g.$text-shadow;

    @include g.mq(md) {
			// position: absolute;
			bottom: 40px;
			padding-inline: 10px;
      max-width: unset;
    }
  }

  &__info {
    position: absolute;
    z-index: 1;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include g.clamp(bottom, 60, 40);

    @include g.mq(md) {
      align-items: center;
      position: relative;
      bottom: unset;
			margin-inline: -50px;
			padding-block: 28px;
			background-color: #ffffff;
    }
    & * {
      color: #ffffff;

      @include g.mq(md) {
        color: #333631;
      }
    }
  }

  &__region {
    display: flex;
    // gap: 4px;
    align-items: center;

    & > i {
      width: 20px;
      background-color: g.$color-accent;
      @include g.mq(md) {
        width: 15px;
      }
    }
    & > span {
      font-family: g.$font-noto-sans;
      @include g.font-clamp("md", "xs");
      font-weight: 700;
      color: g.$color-accent;
      letter-spacing: 0.15em;
    }
  }

  &__name {
    margin-top: 4px;
    @include g.font-clamp("3xl", "md");
    font-weight: 500;
    letter-spacing: 0.15em;
    // line-height: 1.4;
  }

  &__title {
    font-family: g.$font-noto-sans;
    @include g.font-clamp("sm", "2xs");
    font-weight: 700;
    letter-spacing: 0.15em;
  }

  &__photo {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 120px;
    @include g.clamp(margin-top, 24, 16);
    border-radius: calc(infinity * 1px);
    overflow: hidden;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    @include g.clamp(margin-top, 24, 16);
    width: 24vi;
    justify-content: flex-end;
    line-height: 1;

    @include g.mq(md) {
      gap: 4px 8px;
      width: 80vi;
      justify-content: center;
      // justify-content: flex-start;
    }
  }

  &__sns {
    display: flex;
    align-items: center;
    gap: 10px;
    @include g.clamp(margin-top, 48, 24);

    @include g.mq(md) {
			margin-top: 16px;
      background-color: #999;
      border-radius: 5px;
      padding: 6px 10px;
    }
  }

  &__description {
    max-width: 50rem;
    margin-inline: auto;
    padding-top: 24px;

    & p {
      font-weight: 500;
      line-height: 2.2;

      @include g.mq(md) {
        line-height: 2.3;
        padding-inline: 6vw;
				font-size: g.$font-size-sm;
      }
    }
  }

  &__values-title {
    @include g.clamp(margin-top, 60, 40);
    @include g.font-clamp("xl", "sm");
    font-weight: 500;
    letter-spacing: 0.15em;
    // text-align: center;

    @include g.mq(md) {
      font-weight: 700;
    }
  }

  &__values {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    gap: 32px;
    @include g.clamp(margin-top, 48, 20);

    @include g.mq(md) {
      gap: 16px;
    }
  }

  &__value {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > h3 {
      font-family: g.$font-noto-sans;
      @include g.font-clamp("md", "sm");
      font-weight: 700;
      color: g.$color-accent;
      letter-spacing: 0.15em;
      // text-align: center;
    }

    & > p {
      font-weight: 500;
      line-height: 2.2;
      // text-align: center;

      @include g.mq(md) {
        font-weight: 400;
        line-height: 2;
        font-size: g.$font-size-sm;
        padding-inline: 0;
      }
    }
  }

	&__inquiry {
		display: flex;
		justify-content: center;
		@include g.clamp(margin-top, 60, 40);
		// text-align: center;
		// @include g.mq(md) {
		// 	margin-top: 40px;
		// }
	}

  // 	&__inner {
  // 		position: relative;
  // 		z-index: 1;
  // 		display: flex;
  // 		height: 100%;

  // 		& * {
  // 			color: #ffffff;
  // 		}
  // 	}

  // 	&__mv {
  // 		position: absolute;
  // 		inset: 0;

  // 		&::after {
  // 			content: '';
  // 			position: absolute;
  // 			inset: 0;
  // 			background: rgba(0, 0, 0, 0.25);
  // 		}
  // 	}

  // 	&__title {
  // 		position: absolute;
  // 		left: 0;
  // 		@include g.clamp(bottom, 84, 56);
  // 		max-width: 500px;
  // 		font-family: g.$font-garamond;
  // 		@include g.font-clamp('6xl', '5xl');
  // 		text-shadow: g.$text-shadow;
  // 		font-weight: 400;
  // 	}

  // 	&__description {
  // 		position: absolute;
  // 		right: 0;
  // 		max-width: 500px;
  // 		@include g.clamp(bottom, 60, 40);
  // 		font-weight: 700;
  // 		line-height: 3;
  // 		text-shadow: g.$text-shadow;
  // 		text-align: right;
  // 	}
}
