// component/_c-tours.scss

@use '../global/' as g;

.c-tours {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
	@include g.clamp(row-gap, 80, 60);
	@include g.clamp(margin-top, 80, 60);


	@include g.mq(md) {
		grid-template-columns: 1fr;
	}

	&__tour {
		display: grid;
		grid-template-rows: subgrid;
		grid-row: span 5;
		gap: 0;

		&:nth-of-type(2n + 1) {
			@include g.clamp(padding-right, 60, 40);
			border-right: 1px solid rgba($color: #000000, $alpha: 0.2);

			@include g.mq(md) {
				padding-right: 0;
				border: none;
			}
		}
		&:nth-of-type(2n) {
			@include g.clamp(padding-left, 60, 40);

			@include g.mq(md) {
				padding-left: 0;
			}
		}

	}
}
